.filter-item {
  width: 50px;
  height: 40px;
  cursor: pointer;

  p {
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:hover,
  &:active,
  &:focus {
    p {
      color: #000000;
    }
  }
}
