footer {
  background-color: #ffffff;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  position: sticky;
  bottom: 0;
  z-index: 3;

  &.tab-desktop {
    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &.mobile {
  }
}
